.about{
  max-width: 1440px;
  padding-right: 80px;
  padding-left: 80px;
  margin: auto;


  &__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    &--blue{
      color: #2B80FF;
    }
  }
  &__group {
    display: flex;
  }
  &__block{
    padding: 20px;
    ul{
      list-style: none;
      list-style-image: url("../img/ico/check-blue.svg");

    }
    &:first-child{
      padding-left: 0px;
    }
  }
  &__caption{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  &__list{
    padding-left: 22px;
    font-size: 14px;
    li{
      padding-bottom: 20px;
    }
  }
}