.result{
  background: #FCFCFC;
  padding-right: 80px;
  padding-left: 80px;
  &__items{

    max-width: 1440px;
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    &--block{
     padding-top: 40px;
     padding-bottom: 40px;
    }
    .number{
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
    }
  }
}