.main-block{
  display: flex;
  padding-right: 80px;
  padding-left: 80px;
  max-width: 1440px;
  margin: auto;
  justify-content: space-between;
  h1{
    font-size: 40px;
  }
  &__price{
    border: 1px solid transparent;
    border-radius: 6px;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.6;
    background: rgba(90, 90, 90, 0.31);
  }
  &__btn{
    border: 1px solid transparent;
    background: #2B80FF;
    border-radius: 4px;
    padding: 5px 15px;
  }
  &__img{
    margin-bottom: -4px;
  }
}
.star{
  img{
    padding: 2px;
  }
  p{
    padding: 2px;
  }
}
