.header{
  background: linear-gradient(112.02deg, #0F1320 14.54%, rgba(15, 19, 32, 0) 127.9%);
  color:white;
  .menu {
    &-br{
      border: 1px solid rgba(0, 0, 0, 0.1);
      width: 100%;
    }
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    align-items: center;
    .logo{
      margin: auto;
      &-blue{
        color: #2B80FF;
      }
    }
    &__list {
      display: flex;
      list-style: none;
      width: 100%;
      justify-content: space-around;

      &__item {
        display: inline;
      }
    }
  }
  .main-block{
    display: flex;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    h1{
      font-size: 40px;
    }
    &__price{
      border: 1px solid transparent;
      border-radius: 6px;
      display: inline-block;
      padding: 5px 15px;
      text-decoration: none;
      color: #FFFFFF;
      opacity: 0.6;
      background: rgba(90, 90, 90, 0.31);
    }
  }
}