.menu {
  padding-right: 80px;
  padding-left: 80px;
  &-br{
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  align-items: center;
  .logo{
    margin: auto;
    &-blue{
      color: #2B80FF;
    }
  }
  &__list {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;

    &__item {
      display: inline;
    }
  }
}
