<section class="about">
  <p class="about__title"><span class="about__title--blue">Узнайте</span> о человеке всё</p>
  <div class="about__group">
    <div class="about__block">
      <img src="./assets/img/ico/about-1.svg" alt="">
      <p class="about__caption">Если Вам известны ФИО человека, дата рождения и регион поиска, то Вы сможете узнать:</p>
      <ul class="about__list">
        <li>Долги, алименты, арест имущества</li>
        <li>Нахождение в розыске по базе МВД по всем регионам РФ</li>
        <li>Нахождение в списках террористов и экстремистов</li>
        <li>Регистрация в качестве индивидуального предпринимателя</li>
        <li>Работа в качестве руководителя ООО, ЗАО, АО</li>
        <li>Наличие доли в уставном капитале организаций</li>
      </ul>
    </div>
    <div class="about__block">
      <img src="./assets/img/ico/about-2.svg" alt="">
      <p class="about__caption">Если есть данные паспорта человека, то Вы так же сможете узнать:</p>
      <ul class="about__list">
        <li>Действительность паспорта</li>
        <li>ИНН физического лица</li>
        <li>Налоговые начисления</li>
        <li>Кредитный рейтинг</li>
        <li>Залоги движимого имущества</li>
        <li>Сведения о банкротстве</li>
      </ul>
    </div>
    <div class="about__block">
      <img src="./assets/img/ico/about-3.svg" alt="">
      <p class="about__caption">Если у Вас есть данные водительского удостоверения, то Вы сможете узнать:</p>
      <ul class="about__list">
        <li>Действительность ВУ</li>
        <li>Лишение права управления</li>
        <li>Характеристики ВУ</li>
        <li>Штрафы ГИБДД по ВУ</li>
      </ul>
    </div>
  </div>
</section>

