<header class="header">
  <div class="menu-br">
     <nav class="menu">
       <a href="" class="logo"><span class="logo-blue">CHECK</span>NAME</a>
       <ul class="menu__list">
         <li class="menu__item"><a href=""> Проверить человека</a></li>
         <li class="menu__item"><a href=""> Источники</a></li>
         <li class="menu__item"><a href=""> Как работает</a></li>
         <li class="menu__item"><a href=""> Отзывы</a></li>
         <li class="menu__item"><a href=""> Контакты</a></li>
       </ul>
     </nav>
  </div>
  <div class="main-block">
    <div class="main-block__text">
      <p class="main-block__price">Cтоимость полного отчёта всего 299 рублей</p>
      <h1 class="main-block__check">Проверьте человека на благонадежность</h1>
      <p>Составляем досье на человека в течении 5 минут, обращаясь к множеству официальных источников.</p>
      <a href="" class="main-block__btn">Проверить человека</a>
      <a href="">Пример отчёта</a>
      <p class="star"><img src="./assets/img/ico/star.svg" alt="">Гарантируем 100% конфиденциальность данных</p>
    </div>
    <div class="main-block__img">
      <img src="./assets/img/img-1.png" alt="">
    </div>
  </div>
</header>

