<section class="result">
  <div class="result__items">
    <div class="result__items--block">
      <div class="number">124 500 </div>
      <div>проверок выполнили </div>
    </div>
    <div class="result__items--block">
      <div class="number">84 500 </div>
      <div>клиентов нам доверяет </div>
    </div>
    <div class="result__items--block">
      <div class="number">5 минут</div>
      <div>Среднее время формирования отчета </div>
    </div>
  </div>
</section>

